<%= form_for @channel ,:url => @url do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if !@pid.nil? %>
    <input class="am-form-field am-input-sm" id="channel_pid" name="channel[pid]" size="30" type="hidden" value=<%= @pid %> >
  <% end %>
  <div class="am-g am-margin-top">
    <div class="am-u-sm-4 am-u-md-2 am-text-right">导航标题</div>
    <div class="am-u-sm-8 am-u-md-10">
      <div class="am-form am-form-inline">
        <div class="am-form-group am-form-icon">
          <%= f.text_field :title, :class => "am-form-field am-input-sm" %>
        </div>
      </div>
    </div>
  </div>
  <div class="am-g am-margin-top">
    <div class="am-u-sm-4 am-u-md-2 am-text-right">导航连接</div>
    <div class="am-u-sm-8 am-u-md-10">
      <div class="am-form am-form-inline">
        <div class="am-form-group am-form-icon">
          <%= f.text_field :url, :class => "am-form-field am-input-sm" %>
        </div>
      </div>
    </div>
  </div>
  <div class="am-g am-margin-top">
    <div class="am-u-sm-4 am-u-md-2 am-text-right">新窗口打开</div>
    <div class="am-u-sm-8 am-u-md-10">
      <%= select( "channel", "target", { "否" => "0", "是" => "1"} ,{ :include_blank => false } ,{ "data-am-selected" => "{btnSize: 'sm'}"}) %>
<!--       <select data-am-selected="{btnSize: 'sm'}">
        <option value="0">否</option>
        <option value="1">是</option>
      </select> -->
    </div>
  </div>
  <div class="am-g am-margin-top">
    <div class="am-u-sm-4 am-u-md-2 am-text-right">优先级</div>
    <div class="am-u-sm-8 am-u-md-10">
      <div class="am-form am-form-inline">
        <div class="am-form-group am-form-icon">
          <%= f.text_field :sort, :class => "am-form-field am-input-sm" %>
        </div>
      </div>
    </div>
  </div>
  <div class="am-margin">
    <%= f.button '保存', :class => "am-btn am-btn-primary am-btn-xs" %>
    <%= link_to '返回', admin_channels_path, :class => "am-btn am-btn-primary am-btn-xs" %>
  </div>
<% end %>